<div class="row">
  <div class="col-md-9" id="primary">
      <div class="inside">
          $posts$

          <div id="navlinks">
              <div class="story" style="float:left;">
                  $previousPageUrl$&nbsp;
              </div>
              <div class="story" style="float:right; text-align:right;">
                  $nextPageUrl$&nbsp;
              </div>
          </div>
      </div>
  </div>

  <div class="col-md-3" id="secondary">
      <h3>Subscribe</h3>
      <a href="atom.xml">Entries RSS/Feed</a>

      <h3>Categories</h3>
      $categorylist$

      <h3>Tags</h3>
      $taglist$
  </div>
</div>
