<div class="row">
  <div class="col-md-9" id="primary">
      <div class="inside">
          $posts$

          <div id="navlinks">
              $if(previousPageUrl)$
                  <div class="story" style="float:left;">
                      <a href="$previousPageUrl$">
                          &laquo; Newer Entries
                      </a>
                      &nbsp;
                  </div>
              $endif$
              $if(nextPageUrl)$
                  <div class="story" style="float:right; text-align:right;">
                      <a href="$nextPageUrl$">
                          Older Entries &raquo;
                      </a>
                      &nbsp;
                  </div>
              $endif$
          </div>
      </div>
  </div>

  <div class="col-md-3" id="secondary">
      <h3>Subscribe</h3>
      <a href="atom.xml">Entries RSS/Feed</a>

      <h3>Categories</h3>
      $categorylist$

      <h3>Tags</h3>
      $taglist$
  </div>
</div>
