<!--
contentpage.html, for content-specific pages, like emacs.html/yi.html.
-->

<div class="row">
    <div class="col-md-8" id="page-content">
        $body$
    </div>
    <div class="col-md-4">
        Contents<br/>
        <div id="toc"></div>
    </div>
</div>

<script>
  //Executes your code when the DOM is ready.  Acts the same as (document).ready().
  $$(function() {
      //Calls the tocify method on your HTML div.
      $$("#toc").tocify({context: "#page-content", selectors: "h1, h2, h3"});
  });
</script>
